body {
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

  }
#amortization-schedule{display:none;}
  .xsign{color:white;position:fixed;left:20px;top:20px;}
    .container h1{font-size: 25px;}
  .container {
    max-width: 800px;
    background: #fff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 18vh;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background: #218838;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background: #333;
    color: white;
  }
  

  @media only screen and (max-width: 768px){
    body{margin: 0;padding: 0;}
   
  }  
  @media only screen and (max-width: 480px){
   

  }
  @media only screen and (min-width: 767px){
   body {
    width: 100%; 
    max-width: 767px; 
    margin: 0 auto; 
    padding: 0; }


  }
  
