html{font-family:sans-serif,Arial, Helvetica, sans-serif,'Courier New', Courier, monospace;font-size: 14px;}
header{width: 100vw;height: 18vh;position: fixed;top:0;background-color: #333;
    overflow: hidden;}
.xsign{color:white;position:fixed;left:20px;
       top:20px;}
.kot h1{color:rgb(89, 227, 89);position: absolute; left: 50%; transform: translateX(-50%);
   top: 1vh;}
.kot h2{color:white;position: absolute; left: 50%; transform: translateX(-50%);top: 7vh;}
.kotamod h1{color: green;margin-top: 22vh;width: 100vw;text-align: center;}
#tbltoz{border-collapse: collapse;}
@media only screen and (min-width: 767px){
    .logo{position: fixed;right: 6vw;top:3vh;width:100px; height:auto;}
    header{width: 100vw;height: 18vh;position: fixed;top:0;right:5vw;background-color: #333;
    }
    .kot h1{font-size: 45px;margin-top: 0px;}
    .kot h2{font-size: 30px;margin-top: 15px;}
    main{display:none;}
}
@media only screen and (max-width: 768px){
    body{margin: 0;padding: 0;}
    .logo{position: fixed;right: 4vw;top:2vh;width:100px; height:auto;}
    header{width: 100vw;height: 18vh;}
    .kot h1, .kot h2{white-space:nowrap;}
    .sughashkaa button, .schomhashkaa button, .tkofa button{width: 100vw;height:auto;background-color:  #333;
        color: white;font-size: 18px;font-weight: bold;}
    .dropdown-sug label, .schomhashkaa label ,.tkofa label{color: green;height: 3vh;font-size: 16px;}
    .dropdown-schom,.dropdown-sug, .dropdown-tkofa{display: block;flex-direction: column;
        background-color:lightgray;width: 100vw;padding-top: 1.5vh;}
     .dmeynihul{padding-bottom: 1.5vh;}   
    .dropdown-schom div, .dropdown-sug div, .dropdown-tkofa div{width: 100vw;margin: 5px 0px;}
    .lbltxt{margin-right: 20px;}
    .txtbutton{width: 25vw;display: inline;float: left;margin-left: 10vw;}
    .hetz{margin-left: 15vw;float: left;}
    #txttkofa1,#txttkofa2,#hadpeami, #hodshi{width: 80px;text-align: center;}
    #schom,#sug,#tkofa{text-align: right;padding-right: 2vw;border: 1px solid rgba(211,211,211,0.2);}
    
    #hashev{width: 100vw;height:auto;background-color:  #333;
        color: white;font-size: 18px;font-weight: bold;}
    #tozaot, #tozaot tr,#tozaot td ,#tozaot th{width: 100vw;}
    
    .kottoz{color: green;font-size: 18px;font-weight: bold;}
    .txttd{background-color: #333;color: white;border: 1px solid green;border-collapse: collapse;
    font-size: 16px;font-weight: bolder;text-align: right;padding-right: 2vw;}
    .numtd{background-color: white;color: #333;border: 1px solid green;
        border-collapse: collapse;font-size: 16px;font-weight: bolder;text-align: center;}
    
}

@media only screen and (max-width: 480px){
    .logo{position: fixed;right: 3vw;top:3vh;width:75px; height:auto;}
    .kotamod h1{font-size: 20px;}
  }
